{% load custom_filters %}
{% load compress %}
{% load static %}

<!DOCTYPE html>
<html lang="id">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cetak Tabel - {{ table.name }}</title>
    
    <link href="https://cdn.jsdelivr.net/npm/flowbite@2.5.1/dist/flowbite.min.css" rel="stylesheet" />
    
    {% compress css %}
    <link rel="stylesheet" href="{% static 'src/output.css' %}">
    {% endcompress %}
</head>
<body class="bg-gray-100 p-8">
    <div class="container mx-auto bg-white shadow-lg rounded-lg p-8">
        <h1 class="text-3xl font-bold text-center mb-8 text-gray-800 uppercase tracking-wide border-b-2 border-blue-500 pb-4">{{ table.name }}</h1>
        
        <div class="overflow-x-auto relative shadow-md sm:rounded-lg">
            <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
                <thead class="text-xs text-white uppercase bg-blue-500">
                    <tr>
                        {% for column in columns %}
                            <th scope="col" class="py-3 px-6">{{ column.name }}</th>
                        {% endfor %}
                    </tr>
                </thead>
                <tbody>
                    {% for row in data %}
                        <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600">
                            {% for value in row %}
                                <td class="py-4 px-6">{{ value|default_if_none:"-" }}</td>
                            {% endfor %}
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>

        <div class="text-right text-sm text-gray-500 mt-8 italic">
            Dicetak pada: {% now "l, d F Y H:i" %}
        </div>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.6.5/flowbite.min.js"></script>
    <script>
        window.onload = function() {
            window.print();
        }
    </script>
</body>
</html>